* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.profile {
    border: blue 5px solid;
    cursor: pointer;
}
.profiles-container {
    display: inline-flex;
    flex-direction: row;
    height: 200px;
    border: red 5px solid;
    margin: 20px;
}

.top {
    
    height: 100px;
    border: green 5px solid;
}
.bottom {
    border: orange 5px solid;
}
.main {
    display: flex;
    flex-direction: column;

}

.hide {
    visibility: hidden;
}
.visible {
    visibility: visible;
}